            .map-embed
            {
                max-width: 60% ;
                max-height:60%;
                height: 0 ;
                margin: 0 0 0 0 ;
                padding: 0 0 56.25% ;

                overflow: auto ;
                index:5000;
                position: relative ;
                //top: 70px ;
                left: 40% ;
            }

            .map-embed > div
            {
                position: absolute ;
                top: 0px ;
                left: 0px ;

                width: 100% ;
                height: 100% ;

                margin: 0 ;
                padding: 0 ;
            }

            .map-embed img
            {
                max-width: none ;
            }

            #panel{
                margin-left:70%;
                padding:0 10px;
                height:400px;
                overflow:auto;
            }
            body{
                width:100%;
                height:100%;
                background-color : aliceblue;
                //background-image : url(/static/img/flog.jpg);
                //background-image : url(/static/img/suwako4.jpg);
                //background-image : url(/static/img/gahag.png);
                //background-image : url(/static/img/gatag2.jpg);
                //background-repeat:repeat;
                //background-size:cover;
                //background-attachment:fixed
            }
            #buckground_image{

                opacity:0.3;
            }
            #origin{
                width:150%;
                <!--height:30%;-->
            }
            #destination{
                width:150%;
                color:green;
                <!--box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);-->
            }
            #waypoint{
                width:150%;
                color:green;
            }
            #waypoint2{
                width:150%;
                color:green;
            }
            #button{
                width:150px;
                font-size:24px;
                font-weight:bold;
                text-decoration:none;
                display:block;
                text-align:center;
                padding:8px 0 10px;
                margin:0 0 10px 0;
                color:#fff;
                background-color:#49a9d4;
                border-radius:5px;
            }
            input.button{
                background-image:url
            }
            #origin_ido{
                width:100px;
                margin:0px 0px 0px 0px;
                padding:0px;
            }
            <!--<div id="origin_ido"></div>-->
            <!--<div id="origin_keido"></div>-->
            <!--<div id="destination_ido"></div>-->
            <!--<div id="destination_keido"></div>-->
            <!--<div id="waypoint_ido"></div>-->
            <!--<div id="waypoint_keido"></div>-->
            <!--<div id="waypoint2_ido"></div>-->
            <!--<div id="waypoint2_keido"></div>            -->

            <!--td{-->
                <!--color:green;-->
            <!--}-->
            #function_table{
                width:300px;
                //height:300px;
                font-size:10px;
                font-weight:bold;
                text-decoration:none;
                display:block;
                position:absolute;
                //top:40%;
                top:50px;
                left:200px;
                text-align:center;
                padding:0px 0 0px;
                margin:0px 0px 0px 0px;
                color:#fff;
                background-color:whitesmoke;

            }
            .intenseshadow{
                background-color:#FFF;
                border:1px solid #F00;

                box-shadow: 10px 10px 0px #F00;
                -moz-box-shadow: 10px 10px 0px #F00;
                -webkit-box-shadow: 10px 10px 0px #F00;
            }
            .bevel{
                background-color:#CCC;

                box-shadow: 10px 10px 0px #F00;
                -moz-box-shadow:inset 0px 0px 120px rgba(0,0,0,.60);
                -webkit-box-shadow: 10px 10px 0px #F00;
            }
            .dropshadow{
                //background-image:-moz-linear-gradient(top, #F3F4F5, #C8C9CA);
                background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F3F4F5), to(#C8C9CA), color-stop(1,#C8C9CA));

                //border:2px solid #F2F2F2;

                //box-shadow: 10px 10px 10px rgba(0,0,0,0.25);
                //-moz-box-shadow: 10px 10px 10px rgba(0,0,0,0.25);
                //-webkit-box-shadow: 10px 10px 10px rgba(0,0,0,0.25);
            }
            .function_thread{
                width:100%;
                height:30%;
                font-size:10px;
                font-weight:bold;
                text-decoration:none;
                display:inline-block;
                position:relative;
                //top:35%;
                text-align:center;
                padding:0px 0 0px;
                margin:5px 0px 5px 0px;
                color:black;
                //background-color:rgba( 255, 165, 0, 0.5);
                //background-color:chartreuse;
                //border-style:solid;
                //border-width: 1px;
                border-radius:10px;
                //-webkit-box-shadow: 10px 10px 0px #F00;
                //box-shadow: 10px 10px 0px #F00;
                //border:2px solid #F2F2F2;
                 background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFA500), to(#FFD700));
            }
            #thread1{
                position:relative;
                top:20%;
                //right:25%;
                float:left;
                width:40%;
                //margin:10%px 0px 10% 10%;
                margin:0 auto;
                display:inline-block;
           }
           #thread2{
                position:relative;
                top:10%;
                //right:25%;
                width:20%;
                display:inline-block;
           }
            #thread3{
                position:relative;
                top:20%;
                //right:25%;
                float:right;
                width:40%;
                //margin:10%px 0px 10% 10%;
                margin:0 auto;
                display:inline-block;
           }
            li{
                font-size:20px;
                text-align:center;
                background-color:mediumspringgreen;
                display:inline-block
            }
            .modal-content{
                width:150%;
                margin-left:-25%;

            }
            #id_start_address{
                width:90%;
            }
            #id_arriv_address{
                width:90%;
            }
            span.arrow-success{
                display:inline-block;
                position:relative;
                float:center;
                width:20%;
                margin:0 auto;
                //margin:0 auto 0 auto;
//                bottom:0%;
            }
            .container{
                width:100%;
                max-height:100%;
                margin:0;
                padding:0;

            }

            #bar1{
             background-color:black;
             color:white;
             text-aline:left;
             font-size:30px;
             height:50px;
             width:100%;
             margin:0 auto;
             position:fixed;
             z-index:10000;
            }
            .tab-pane{
                color:black;
            }
            #bar2{
             background-color:black;
             color:white;
             text-aline:left;
             font-size:30px;
             //height:100px;
             //width:100%;
             height:100%;
             width:150px;
             margin:0 auto;
             position:fixed;
             z-index:10000;
            }
            .tab-pane{
                color:black;
            }
            blockquote {
                margin: 0 0 0 0; padding: 0;
            }
            blockquote#one {
                width: 250px;
                background: #e3e3e3;
                padding: 25px;
                position: relative;
            }
            blockquote#one .arrow {
                /* 吹き出しの部分 */
                width: 0;
                height: 0;
                line-height: 0;
                border-top: 40px solid white;
                border-left: none;
                border-right: 30px solid #e3e3e3;
                position: absolute;
                bottom: 60%;
                right: 100%;
            }

